body {
    background: url(https://drive.google.com/uc?export=view&id=0B7OeiBjEyQwPRmxwSmh4NkdZM2M) repeat;
}

.logo {
    width: 70%;
    margin: 0 auto;
}

.main-page.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.paasb-searchbox {
    margin-top: 20px;
    margin-bottom: 20px;
}