<div class="row fat" ng-controller="MySearchboxCtrl">
    <div class="col-md-8 col-md-offset-2">
        <tags-input ng-model="tags"
                    display-property="id"
                    key-property="id"
                    add-on-paste="true">
            <auto-complete source="loadTags($query)"
                           min-length="0"
                           load-on-focus="true"
                           load-on-empty="true"
                           max-results-to-show="15"></auto-complete>
        </tags-input>
        <div id="search-box-panel" class="input-group">
            <a class="btn btn-default input-group-addon" href="#!/search?q={{query()}}" style="border-left: 0">Search</a>
            <a class="btn btn-default input-group-addon" href="#!/add" style="border-left: 0">Add</a>
        </div>
    </div>
</div>