<div class="container">
  <form ng-submit="addContent({
    name: addContentCard.contentTitle,
    description: addContentCard.contentDescription,
    targetUrl: addContentCard.contentLink,
    type: type.name(currentType),
    tags: asQueryArray(tags)
  })">
    <div class="form-group">
      <label for="content-link">Link to Source</label>
      <input type="text" class="form-control" id="content-link" placeholder="http://example.com/" ng-model="addContentCard.contentLink">
    </div>
    <div class="form-group">
      <label for="content-title">Title</label>
      <input type="text" class="form-control" id="content-title" placeholder="Title" ng-model="addContentCard.contentTitle">
    </div>
    <div class="form-group">
      <label for="content-contentDescription">Description</label>
      <input type="text" class="form-control" id="content-contentDescription" placeholder="Description" ng-model="addContentCard.contentDescription">
    </div>
    <div class="form-group">
      <label for="content-type">Choose type</label>
      <div class="btn-group" role="group" id="content-type">
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': currentType == type.TOOL }" ng-click="currentType = type.TOOL">Tool</button>
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': currentType == type.ARTICLE }" ng-click="currentType = type.ARTICLE">Article</button>
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': currentType == type.PACK }" ng-click="currentType = type.PACK">Pack</button>
      </div>
    </div>
    <div class="form-group">
      <label>Tags</label>
      <div sunnary-tags-input></div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>